<div class="row">
  <svg viewBox="0 200 860 500">
    <symbol id="s-text">
      <text text-anchor="middle" x="50%" y="80%">V-Games</text>
    </symbol>

    <g class = "g-ants">
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
    </g>
  </svg>
</div>

<app-main-navigation></app-main-navigation>
<router-outlet></router-outlet>
<div id="footer">
  <app-footer></app-footer>
</div>
<div id="bottom">
</div>
<div id="particles-js"></div>

