body { margin-top:20px; }
.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin-top: -15px; }
.pl-ziro { padding-left: 0px; }

label {
    color: black;
}
.btn-primary::after{
    color: green;
}